*{
 background-color: black;
 color: white;
 font-size: 40px;
 font-family: arial;
}
input{
 background-color: rgb(36, 36, 36);
}
input:hover{
 background-color: rgb(27, 26, 27);
 cursor: text;
}
button:hover{
 background-color: rgb(34,35,36);
 cursor: pointer;
}
#body{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
#header{
 background-color: rgb(14, 14, 14);
 display: flex;
 justify-content: center;
 align-items: center;
 position: sticky;
 top: 0px;
 font-family: arial;
 font-style: italic;
}
#header > h1{
 background-color: rgb(14, 14, 14);
 font-size: 50px;
}
h1{
 display: flex;
}
button{
 height: 75px;
 width: 200px;
 background-color: rgb(27, 27, 27);
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 40px;
 flex-direction: column;
 margin-top: 25px;
}